<nav>
  <ul class="main-nav">
    <li><a href="/vision">Vision</a></li>
    <li><a href="/structure">Structure</a></li>
    <h1 class="logo"><a href="/">Transition Institute</a></h1>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>

  <ul class="mobile-nav">
    <h1 class="logo"><a href="/">Transition Institute</a></h1>
  </ul>
</nav>
