<nav>
  <ul class="main-nav">
    <div class="nav-group">
      <li id="nav-vision"><a href="/vision">Vision</a></li>
      <li id="nav-structure"><a href="/structure">Structure</a></li>
    </div>
      <li class="logo"><a href="/">Transition Institute</a></li>
    <div class="nav-group">
      <li id="nav-projects"><a href="/projects">Projects</a></li>
      <li id="nav-contact"><a href="/contact">Contact</a></li>
    </div>
  </ul>

  <h1 class="mobile-home logo"><a href="/">Transition Institute</a></h1>
</nav>
