<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body id="{{ class }}">
    <div class="video-bg">
      <video autoplay loop muted playsinline>
          <source src="/assets/videos/ti_{{ bg_video }}.mp4" type="video/mp4">
      </video>
    </div>
    {% include "_navbar.njk" %}
    <main class="{{ class }}">
      {% if projects %}
        <div class="empty-column"></div>
        <div class="right-column">
          {{ content | safe }}
        </div>
      {% else %}
        {{ content | safe }}
      {% endif %}
    </main>
    {% if not(home) %}
      {% include "_footer.njk" %}
    {% endif %}
  </body>
</html>
