<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BGCBTS22W1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BGCBTS22W1');
</script>

<meta charset="utf-8">
<title>{{ title or site.title or site.name }}</title>
<meta name="description" content="{{ description or site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# Open graph related #}
<meta property="og:title" content="{{ title or site.title }}" />
<meta property="og:type" content="{{ type or site.type }}" />
<meta property="og:url" content="{{ url or site.url }}" />
<meta property="og:image" content="{{ image or site.image }}" />
<meta property="og:site_name" content="{{ name or site.name }}" />
<meta property="og:description" content="{{ description or site.description }}" />

{% include "webpack.njk" %}
