---
layout: default
title: Transition Institute
bg_video: ice
class: contact
---

<h1>Contact us</h1>
<form name="contact" method="post" data-netlify="true">
  <input type="text" name="name" placeholder="NAME" class="form-input">
  <input type="email" name="email" placeholder="EMAIL" class="form-input">
  <input type="textarea" name="message" placeholder="MESSAGE" class="form-input form-message">
  <button type="submit">Send</button>
</form>
