---
layout: default
title: Contact - Transition Institute
bg_video: contact
class: contact
---

<h1>Contact us</h1>
<form action="/" name="contact" method="post" data-netlify="true" id="contact-form">
  <input type="text" name="name" placeholder="NAME" class="form-input">
  <input type="email" name="email" placeholder="EMAIL" class="form-input">
  <textarea type="textarea" name="message" placeholder="MESSAGE" class="form-input form-message" rows="4"></textarea>
  <div class="submit-area">
    <button type="submit" class="submit-button">Send</button>
  </div>
</form>
