---
layout: default
title: Transition Institute
bg_video: ice
class: home
---

<h1>A space and place for deep encounter and research, seeking to educate, explore and empower.<br> Bridging what is with what if.</h1>
