---
layout: default
title: Transition Institute
class: home
home: true
bg_video: home
---

<h1>Research and creation around new social imaginaries<br> that seek to educate, explore and empower</h1>


<ul class="mobile-nav">
  <li><a href="/vision">Vision</a></li>
  <li><a href="/structure">Structure</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
