---
layout: default
title: Transition Institute
bg_video: crystal
class: structure
---

<div class="left">
  <div class="hub top box">
    <h3>Hub in Berlin</h3>
    <h4>Urban headquarter</h4>
    <p>Open & accesible first point of contact & gathering space.</p>
  </div>

  <div class="ed-center bottom box">
    <h3>Educational Center</h3>

    <h4>A Haven in the Countryside</h4>
    <p>The institute's hear that nurtures, holds & embodies its manifold activities.</p>
    <p>Committed to the four ways of knowing: cognitive, somatic, intuitive & emotional.</p>
  </div>
</div>

<div class="center">
</div>

<div class="right">
  <div class="culture top box">
    <h3>Cultural Creation</h3>
    <h4>Media, Event & Experience Formats</h4>
    <p>Documentary films, conferences, festivals & holistic immersions.</p>
    <p>Ensures a dynamic exchange & serves as the main intersection point between the general public & its activities.</p>
  </div>

  <div class="changemaker bottom box">
    <h3>Changemaker Residencies</h3>
    <h4>Programs for a diverse range of creators, thinkers & activists</h4>
    <p>Embedded within the institute’s own premises, as well as partnering organizations & project spaces.</p>
    <p>Developing safe spaces for daring experimentation, dedicated to micro & macro transformation.</p>
  </div>

</div>
