---
layout: default
title: Transition Institute
bg_video: water
class: structure
---

<div class="left">
  <div class="hub quarter-box">
    <h3>Hub in Berlin</h3>
    <p>Main operational headquarter</p>
    <p>Urban gathering point</p>
    <p>The first point of contact</p>
    <p>Open and accessible both locally and internationally</p>
  </div>

  <div class="ed-center quarter-box">
    <h3>Educational Center in the Countryside</h3>

    <p>the heart that nurtures the entire ecosystem. it’s a longterm place in a rural setting that holds and embodies the institute’s manifold activities.</p>

    <p>this pillar is particularly committed to the four ways of knowing: cognitive, somatic, intuitive and emotional.</p>
  </div>
</div>

<div class="center">
  <!-- <img src="/assets/images/line.svg" alt="straight line" class="line-svg nw">
  <img src="/assets/images/line.svg" alt="straight line" class="line-svg ne">
  <img src="/assets/images/line.svg" alt="straight line" class="line-svg sw">
  <img src="/assets/images/line.svg" alt="straight line" class="line-svg se"> -->
</div>

<div class="right">
  <div class="culture quarter-box">
    <h3>Cultural Production</h3>

    <p>media and event formats, such as documentary films, conferences, festivals and holistic immersive experiences.</p>

    <p>this organ of the institute ensures dynamic exchange and serves as the main intersection point between the general public and its activities.</p>
  </div>

  <div class="changemaker quarter-box">
    <h3>Changemaker Residencies</h3>

    <p>3 month long programs for a diverse range of creators, thinkers and activists dedicated to micro and macro transformation.</p>

    <p>this scheme may be embedded within the institute’s own premises, as well as our partnering organizations and project spaces — and provides a safe space for daring experimentation.</p>
  </div>

</div>
