---
layout: default
title: Transition Institute
bg_video: crystal
class: structure
---

<div class="left">
  <div class="hub top box">
    <h3>Hub in Berlin</h3>
    <h4>Main operational headquarter</h4>
    <p>Urban gathering point</p>
    <p>The first point of contact</p>
    <p>Open and accessible both locally and internationally</p>
  </div>

  <div class="ed-center bottom box">
    <h3>Educational Center in the Countryside</h3>

    <h4>The heart that nurtures the entire ecosystem</h4>
    <p>A haven in a rural setting that holds and embodies the institute’s manifold activities, committed to the four ways of knowing: cognitive, somatic, intuitive and emotional</p>
  </div>
</div>

<div class="center">
</div>

<div class="right">
  <div class="culture top box">
    <h3>Cultural Production</h3>
    <h4>Media & Events</h4>
    <p>Documentary films, conferences, festivals & holistic immersive experiences</p>
    <p>Ensures a dynamic exchange and serves as the main intersection point between the general public and its activities</p>
  </div>

  <div class="changemaker bottom box">
    <h3>Changemaker Residencies</h3>
    <p>3 month long programs for a diverse range of creators, thinkers and activists dedicated to micro and macro transformation. Embedded within the institute’s own premises, as well as our partnering organizations and project spaces in order to promote a safe space for daring experimentation.</p>
  </div>

</div>
