.vision {
  max-width: none;
  padding: 2em;
  background: white;
  border: 1px solid $black;
  @include respond-to('large') {
    max-width: 35ch;
    background: none;
    border: none;
    // padding: 0;
  }
  a {
    color: $black;
  }
}

.projects {
  padding: 2em;
  background: white;
  border: 1px solid $black;
  @include respond-to('large') {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    .empty-column, .right-column {
      width: 50%;
    }
  }
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  .partners-section {
    margin-bottom: 4em;
  }
}

.home {
  min-height: 60vh;
  h1 {
    font-size: 1.2em;
  }
  main {
    margin: 0 3em;
  }
}

.structure {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @include respond-to('large') {
    flex-direction: row;
  }
  h3 {
    font-style: italic;
    margin-top: 0;
  }
  h4 {
    margin-bottom: 0;
  }
  .left {
    @include respond-to('large') {
      flex: 33%;
    }
    text-align: right;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    p {
      margin: 0;
      text-align: right;
    }
  }
  .right {
    @include respond-to('large') {
      flex: 33%;
    }
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    p {
      margin: 0;
      text-align: left;
    }
  }
  .top {
    min-height: 35vh;
    margin-bottom: 2em;
  }
  .box {
    background: white;
    border: 1px solid black;
    padding: 1em 2em;
    @include respond-to('large') {
      background: transparent;
      border: none;
      padding: none;
    }
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to('large') {
      flex: 20ch;
    }
    img {
      width: 50%;
    }
  }
}

.imprint, .data-privacy {
  padding: 1em 2em;
  border: 1px solid black;
}

.contact {
  min-height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 1px solid black;
  @include respond-to('large') {
    background: transparent;
    border: 0px;
  }
  form {
    width: 75%;
    @include respond-to('xl') {
      width: 50%;
    }
    input, textarea {
      box-sizing: border-box;
    }
  }
  .form-input {
    font-family: 'SangBleu Empire', serif;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
  }
  .submit-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .submit-button {
    background: white;
    padding: .5em 4em;
    border: 1px solid black;
    border-radius: 25px;
    font-family: 'SangBleu Empire', sans-serif;
    text-transform: uppercase;
  }
}
