#home {
  background: url('/assets/images/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 250px;
  @include respond-to('large') {
    background: none;
    position: relative;
    #nav-vision {
      position: absolute;
      top: 59vh;
      left: 18vw;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
    #nav-structure {
      position: absolute;
      top: 40vh;
      left: 25vw;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
    #nav-projects {
      position: absolute;
      top: 40vh;
      right: 30vw;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
    #nav-contact {
      position: absolute;
      top: 58vh;
      right: 17vw;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.home {
  @include respond-to('large') {
    margin-top: -1em;
  }
  h1 {
    display: none;
    @include respond-to('large') {
      font-size: 1.2em;
      background: #ffffff5e;
      text-align: center;
      display: block;
    }
  }
}

#vision {
  background: url('/assets/images/vision.png');
  background-size: auto;
  background-position-x: 609px;
  @include respond-to('large') {
    background: none;
  }
}

.vision {
  // margin: 2em;
  max-width: 1500px;
  margin: 2em auto;
  .vision-content {
    @include respond-to('large') {
      margin: 2em 12em;
      max-width: 35ch;
      display: flex;
      flex-direction: column;
      border: none;
      padding: 0;
    }
    a {
      color: $black;
    }
  }
}

#projects {
  background: url('/assets/images/projects.png');
  background-size: cover;
  background-position: center;
  @include respond-to('large') {
    background: none;
  }
}

.projects {
  @include respond-to('large'){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-content {
    background: #ffffffd6;
    padding: 1em;
    @include respond-to('large') {
      grid-column: 2;
      margin-right: 8em;
    }
  }

  h4 a {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.17em;
  }
  h4 {
    font-style: italic;
    font-size: 1.17em;
  }
}

#structure {
  background: url('/assets/images/structure.png');
  background-size: cover;
  background-position: center;
  @include respond-to('large') {
    background: none;
  }
}

.structure {
  @include respond-to('large') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    h1 {
      margin-bottom: 0;
    }
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
  }
  h4 {
    font-style: italic;
    margin: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 60vh;
    background: #ffffffa8;
    @include respond-to('large') {
      background: none;
      flex-direction: row;
    }
  }

  .left {
    @include respond-to('large') {
      flex: 33%;
      min-height: 58vh;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .right {
    @include respond-to('large') {
      flex: 33%;
      min-height: 58vh;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .box {    padding: 1em;
    @include respond-to('large') {
      border: none;
      padding: none;
    }
  }
  .hub, .ed-center {
    p {
      margin: 0;
      @include respond-to('large') {
        text-align: right;
      }
    }
  }

  .culture, .changemaker {
    p {
      margin: 0;
      @include respond-to('large') {
        text-align: left;
      }
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    @include respond-to('large') {
      flex: 20ch;
    }
    img {
      width: 50%;
    }
  }
}

.imprint, .data-privacy {
  padding: 1em 2em;
  border: 1px solid black;
}

#contact {
  background: url('/assets/images/contact.png');
  background-size: cover;
  background-position: center;
  @include respond-to('large') {
    background: none;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to('large') {
    background: transparent;
    border: 0px;
  }
  form {
    width: 75%;
    @include respond-to('xl') {
      width: 50%;
    }
    input, textarea {
      box-sizing: border-box;
    }
  }
  .form-input {
    font-family: 'SangBleu Empire', serif;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
  }
  .submit-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .submit-button {
    background: white;
    padding: .5em 4em;
    border: 1px solid black;
    border-radius: 25px;
    font-family: 'SangBleu Empire', sans-serif;
    text-transform: uppercase;
  }
}
