body {
  background: $white;
  margin: 0 auto;
  height: 100%;
  font-family: 'SangBleu Empire', serif;
  font-size: 18px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-style: italic;
}

p {
  text-align: justify;
}

