body {
  background: $white;
  margin: 0 auto;
  height: 100%;
  font-family: 'SangBleu Empire', serif;
  font-size: 15px;
}

h1 {
  font-size: 2.75em;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}
h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p { text-align: left; }
@include respond-to('large') {
  p {
    text-align: justify;
  }
}

a {
  color: $black;
}

main {
  min-height: 60vh;
  margin: 2em 3em;
  @include respond-to('medium') {
    margin: 2em 5em;
  }
  @include respond-to('large') {
    min-height: 90vh;
    margin: 2em 8em;
  }
}
