body {
  background: $white;
  margin: 0 auto;
  height: 100%;
  font-family: 'Lars Light', serif;
  font-size: 15px;
}

h1 {
  font-size: 2.75em;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-family: 'SangBleu Empire', serif;
  // background: #ffffff73;
  @include respond-to('large') {
    text-align: left;
    background: none;
  }

}
h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'SangBleu Empire', serif;
}

p {
  text-align: left;
  line-height: 1.6rem;
}

a {
  color: $black;
}

main {
  min-height: 08vh;
  margin: 2em;
  margin-top: 0;
  @include respond-to('medium') {
    margin: 2em 5em;
  }
  @include respond-to('large') {
    min-height: 71vh;
    margin: 2em auto;
    max-width: 1500px;
  }
}

.text-box {
  background: #ffffffd6;
  padding: 1em;
  @include respond-to('large') {
    padding: 0;
  }
}
