.main-nav {
  display: none;
}

.mobile-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.main-nav, .mobile-nav {
  font-family: 'SangBleu Empire', serif;
  @include respond-to('large') {
    position: sticky;
    top: 0;
    background: white;
  }
  li {
    font-style: italic;
  }
  a {
    color: $black;
    font-size: 1.1em;
    text-decoration: none;
  }
}

.logo {
  font-style: normal !important;
  padding: .5em 1em;
  border-radius: 150px;
  max-width: 30ch;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  flex: 1 0 550px;
  a {
    text-decoration: none;
  }
}

.mobile-home {
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1.5rem;
}


@include respond-to('large') {
  .mobile-nav, .mobile-home {
    display: none;
  }
  .main-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 6em;
    margin: 0;
  }
}

.nav-group {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @include respond-to('navbar') {
    justify-content: space-between;
    flex-direction: row;
  }
}
