.main-nav {
  display: none;
}

.mobile-nav {
  margin: 2em 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  li {
    font-style: italic;
  }
  a {
    text-decoration: none;
    color: $black;
  }
}

.logo {
  font-style: normal;
  // background: white;
  padding: .5em 1em;
  border-radius: 150px;
  max-width: 30ch;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  font-size: 2em;
  font-weight: 500;
}

@include respond-to('large') {
  .mobile-nav {
    display: none;
  }
  .main-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
    padding: 0 6em;
  }
}
